    * {
        margin: 0px;
        padding: 0px;
    }
    
    @font-face {
        font-family: "Gilroy-Bold";
        src: local("Gilroy-Bold"), local("Gilroy-Bold"), url("/s_3/s_4_hw/Gilroy/Gilroy-Bold.woff");
    }
    
    @font-face {
        font-family: "Gilroy-Medium";
        src: local("Gilroy-Medium"), local("Gilroy-Medium"), url("/s_3/s_4_hw/Gilroy/Gilroy-Medium.woff");
    }
    
    @font-face {
        font-family: "Gilroy-SemiBold";
        src: local("Gilroy-SemiBold"), local("Gilroy-SemiBold"), url("/s_3/s_4_hw/Gilroy/Gilroy-SemiBold.woff");
    }
    
    body {
        /* display: flex;
        justify-content: center; */
        margin-right: calc(50% - 750px);
        margin-left: calc(50% - 750px);
    }
    
    .top__content {
        color: #FFFFFF;
    }
    
    .top__menu__logo {
        display: flex;
        align-items: center;
        gap: 14px;
    }
    
    .top__menu__img {
        padding-left: 60px;
    }
    
    .top__logo__text {
        color: #000;
        font-family: Gilroy-Bold;
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
    
    .top__menu {
        display: flex;
        justify-content: flex-start;
    }
    
    .top__menu__nav {
        padding: 26px 200px 48px 337px;
        gap: 30px;
    }
    
    .nav__menu {
        text-decoration: none;
        padding: 10px;
        color: #000;
        font-family: Gilroy-SemiBold;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
    
    .top__content__main {
        margin: 10px;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        display: flex;
        gap: 40px;
    }
    
    .top__main__info {
        padding: 40px 0px 40px 40px;
        width: 650px;
    }
    
    .header_h1 {
        color: #000000;
        padding-left: 10px;
        padding-bottom: 17px;
        font-family: Gilroy-Bold;
        font-size: 60px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-transform: uppercase;
    }
    
    .top__info__text {
        color: #888888;
        padding-left: 10px;
        padding-right: 40px;
        padding-bottom: 20px;
        color: #888;
        font-family: Gilroy-Medium;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
    
    .top__info__btns {
        margin: 20px;
        display: flex;
        gap: 70px;
    }
    
    .info__btns__start {
        border-radius: 50px;
        background: #F25822;
        box-shadow: 4px 4px 8px 0px rgba(242, 88, 34, 0.20);
        width: 140px;
        height: 50px;
        color: #FFF;
        font-family: Gilroy-Bold;
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        border: none;
    }
    
    .info__btns__watch {
        color: #AAA;
        font-family: Gilroy-Bold;
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        border: none;
        background-color: #fff;
    }
    
    .top__info__img {
        padding: 14px 110px 15px 0px;
    }
    
    .top__logo {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        gap: 20px;
        margin-top: 53px;
    }