* {
    margin: 10px;
    padding: 0;
    font-family: 'Comic Neue', cursive;
    /* background-color: var(--new-variable); */
}

:root {
    --new-vari: cornflowerblue;
}

body {
    font-family: sans-serif;
}

a {
    text-decoration: none;
}

.menu_link {
    color: var(--new-vari);
    font-size: 16px;
    line-height: 20px;
}

.menu_link:hover {
    color: aquamarine;
}

.menu_link:active {
    color: black;
}

h1 {
    color: #222222;
    font-size: 28px;
    line-height: 36px;
    font-weight: bold;
}

.p_block_text {
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 30px;
    color: #7D7987
}

.header_2 {
    color: coral;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 80px;
}

.input_data {
    width: 200px;
    height: 30px;
    outline: none;
    border: 1px solid #ccc;
    border-radius: 15px;
    font-size: 14px;
    line-height: 30px;
    padding-left: 20px;
}

.form_button {
    width: 100px;
    height: 30px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 10px;
}

.div_1 {
    margin: 10px;
    padding: 50px;
}

.div_2 {
    margin: 20px;
    padding: 10px;
}

.div_3 {
    margin: 30px;
    padding: 30px;
}

.img {
    width: 400px;
    height: 400px;
    display: flex;
}

div .img_up {
    width: 50px;
    height: 50px;
}